/* Style for the logo image inside the mat-toolbar */
.toolbar-logo {
  height: 40px; /* Adjust the size of the icon */
  width: auto;
  margin-right: 10px; /* Space between the logo and the text */
}

/* Ensure the logo stays aligned properly */
.logo-icon {
  display: flex;
  align-items: center;
  height: 200px;
  width: 200px;
}

.example-spacer {
  flex: 1 1 auto;
}

/* Style for mat-toolbar with dark blue background */
mat-toolbar {
  background-color: rgb(7, 7, 7); /* Dark blue color */
}
.light-blue-toolbar {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background-color: #aeafaf00; /* Light blue */
  color: rgb(7, 7, 7);
  padding: 0 16px;
  margin-left: 30px;
}

.toolbar-logo {
  width: 90px; /* Adjust logo size */
  height: 90px;
}

.toolbar-title {
  flex-grow: 1;  /* Takes up available space */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.example-spacer {
  flex-grow: 1;
}

